html, body{
    padding: 0;
    margin: 0;
    width: 100%;
}

body{
    width: 100%;
    height: 100vh;
    background: url();
    background-repeat: no-repeat;
    background-position: cover;
    background-size: cover;
    display: table;
    font-family: Arial, Helvetica, sans-serif;
}

.nav{
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 80px;
}

.left{
    float: left;
}

.left ul{
    list-style: none;
    padding: 1em 3em;
}

.left ul li a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    padding: 8px 16px;
}

.left ul li{
    display: inline-block;

}

.right{
    float: right;
}


.right ul{
    list-style: none;
    padding: 1em 3em;
}

.right ul li a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    padding: 8px 16px;
}

.right ul li{
    display: inline-block;

}

.right li:nth-child(2) a{
    border: 2px solid blue;
    border-radius: 4px;
}

.right li:nth-child(1) a{
    border: 2px solid blue;
    border-radius: 4px;
    
}

.right li a:hover{
    color: blue;
}

h2{
    background-color: chartreuse;
    padding-left: 600px;
    padding-right: 600px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 15px;
    border: black;

}

.header{
    text-align: center;
    position: absolute;
    margin-top: 30;
    margin-left: 90px;
    margin-bottom: 30;
    margin-right: 90;
    
}
.header h1{
    color: blue;
    font-size: 46px;
}

.header p{
    color:black;
    font-size: 22px;
    margin-bottom: 20px;
}

.form{
    position: absolute;
    top: 60%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

input{
    width: 100%;
    margin: 20px 0;
    background: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: 1px solid #0078ff;
}

#msg{
    margin-top: 60px;
}

::-webkit-input-placeholder{
    color: #EAEAEA;
    font-size: 12PX;
    letter-spacing: 2PX;
}

button{
    padding: 20px 32px;
    font-size: 16px;
    background:  #0078ff;
    border: none;
    border-radius: 4px;
    margin-top: 30px;
    color: #fff;
}
